*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #dadada;
    background-image: url(https://images.unsplash.com/photo-1476889155166-39ae3886a3ef?q=80&w=1883&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0% 10%;                 /* bg image position set x-axis & y-axis */
}

#nav{
    padding: 0 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    width: 100%;
    height: 100px;
    /* background-color: red; */
}

#nav #nlinks{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#nav i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

#nlinks a{
    position: relative;
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

/* #nlinks{ */
    /* display: flex;*/                   /* Other method to gap between a tags */
    /* gap: 30px; */
/* } */

#nlinks #active::before{                 /* div ki tarah work krta h ye bhi content se before ya after bhi */
    content: "";
    width: 30%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

#nav h5{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
}

#text{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    /* background-color: red; */
    width: 40%;
    /* height: 300px; */
    color: #fff;
}

#text h6{
    display: flex;
    /* align-items: center; */
}

#text h6 span{
    line-height: 25px;                /* text ya element ki height set krna */
    font-size: 30px;
}

#lineandtext{
    display: flex;
    margin-top: 50px;
    gap: 70px;
}

#line{
    width: 200px;
    height: 2px;
    background-color: #fff;
}

#lineandtext p{
    width: 50%;
    line-height: 20px;
    margin-top: -5px;
    font-size: 12px;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 70%;
    height: 20%;
    background-color: #fff;
}

#cube{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;                           /* ctrl+D is a shotcut key of multiple cursors where same thing */
    right: -50px;
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: black;
}

#bottom #sec p{
    opacity: .5;
    font-size: 14px;
    font-weight: 500;

}